/* width */
::-webkit-scrollbar {
  width: 7px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #374150;
  border-radius: 46px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #485467;
}
/* Track */
::-webkit-scrollbar-track {
  background: #1e242e;
}
a {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Geometria', sans-serif;
}
body {
  background: #1E242E;
  padding: 30px;
}
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
header h1 {
  font-size: 48px;
  color: #FFFFFF;
  font-weight: 700;
  letter-spacing: 0.03em;
}
.header-btn {
  background: #181D25;
  border: 2px solid #343A43;
  color: #FFCC8E;
  padding: 10px;
  z-index: 1;
  border-radius: 13px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header-btn svg {
  width: 32px;
  height: 32px;
}
.header-btn:hover {
  background: #FFCC8E;
  color: #181D25;
  border: 2px solid #FFCC8E;
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #BBBBBB;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 0.03em;
  gap: 1em;
}
.footer h3 {
  font-weight: normal;
  font-size: 18px;
}
.footer a {
  color: #7AA77D;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: normal;
  font-size: 18px;
}
.footer a:hover {
  text-decoration: underline;
}
.modal {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full hedight */
  z-index: 1;
}
.modal-content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 10px;
  -ms-flex-wrap: ;
      flex-wrap: ;
  top: 7em;
  right: 2em;
  background: #181D25;
  border: 2px solid #343A43;
  padding: 20px;
  border-radius: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.modal-content header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}
.modal-content h2 {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  color: #fff;
}
.modal-content h2:after {
  content: '';
  height: 4px;
  width: 100px;
  border-radius: 11px;
  background-color: #FFCC8E;
}
.modal-content p {
  color: #BBBBBB;
  font-weight: normal;
  font-size: 18px;
  width: 250px;
  letter-spacing: 0.03em;
}
.modal-content p a {
  color: #9CFFB2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.modal-content p a:hover {
  text-decoration: underline;
}
.guide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}
.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-left: 10px;
}
.links h3 {
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.links h3:after {
  content: '';
  height: 4px;
  width: 70px;
  border-radius: 11px;
  background-color: #9CFFB2;
}
.links ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}
.links li a {
  color: #9CFFB2;
  font-size: 18px;
  letter-spacing: 0.03em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.links li a:hover {
  text-decoration: underline;
}
.modal-visible {
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* ---- isotope ---- */
.grid {
  background: transparent;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 0;
}
/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}
/* ui group */
.ui-group {
  display: inline-block;
}
.ui-group h3 {
  display: inline-block;
  margin-right: 0.2em;
  font-size: 16px;
}
.ui-group .button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
/* block */
.block {
  background: #181D25;
  border: 2px solid #343A43;
  padding: 15px;
  border-radius: 10px;
  gap: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.block:hover {
  border: 2px solid #dca96b;
}
.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header h2 {
  font-size: 24px;
  color: #FFFFFF;
  font-weight: 500;
  letter-spacing: 0.03em;
}
.header svg {
  width: 32px;
  height: 32px;
  color: #CFA470;
}
.header img {
  width: 32px;
  height: 32px;
}
.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#list_icon {
  color: #fff;
}
.tag {
  background: #181D25;
  border: 2px solid #343A43;
  padding: 12px 8px 12px 8px;
  color: #FFCC8E;
  border-radius: 10px;
  font-size: 16px;
}
.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.description p {
  font-size: 18px;
  font-weight: normal;
  color: #BBBBBB;
  letter-spacing: 0.03em;
}
.description h3 {
  font-size: 18px;
  color: #FFCC8E;
  font-weight: normal;
  letter-spacing: 0.03em;
}
.button {
  background: #181D25;
  border: 2px solid #343A43;
  padding: 12px 8px 12px 8px;
  color: #FFCC8E;
  border-radius: 10px;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.button:hover {
  background: #FFCC8E;
  color: #181D25;
  border: 2px solid #FFCC8E;
}
.button:active,
.button.is-checked {
  background-color: #61564B;
  color: #FFCC8E;
  border: 2px solid #C2A179;
}
.button.is-checked {
  color: #FFCC8E;
}
.button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.container {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
#svgedit {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.toggle-icon {
  d: path("M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208s208-93.31 208-208S370.69 48 256 48zm75.31 260.69a16 16 0 1 1-22.62 22.62L256 278.63l-52.69 52.68a16 16 0 0 1-22.62-22.62L233.37 256l-52.68-52.69a16 16 0 0 1 22.62-22.62L256 233.37l52.69-52.68a16 16 0 0 1 22.62 22.62L278.63 256z");
}
@media screen and (max-width: 768px) {
  header h1 {
    font-size: 32px;
  }
  .block {
    width: -webkit-fill-available;
  }
  .description h3 {
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */