:root, html[data-mode=dark] {
    --primary: #673AB7;
    --primary-lighten: #8744ff;
    --primary-darken: #582fa0;

}

html[data-mode=dark] {
    --button-primary-bg: #8744ff;
    --button-primary-bg-hover: #8744ff;
    --button-primary-bg-active: #8744ff;
    --purple: #ac83f7;
    --text-link: #8744ff;

}



.tag-item:hover {
    color: #8038ff;
    text-decoration: none;
}

.header-right-menu__avatar {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 56px;
    cursor: pointer;
}

.header__logo {
    opacity: 0;
}
.header__logo:hover {
    opacity: 0;
}
.xmas-three {
    display:none;
}
.header__item {
    min-width:0;
}
.header__other-sites {
    right: -20px;
}

  .header__left {
background: url(https://d1verlin.github.io/my-stylus/MangaLib/img/logo.png) no-repeat; /* Your image for logo */
} 