:root {
	--bg:#151515;
	--font-primary:#FFCC8E;
	--font-hover:#fff;
	--font-static:#EBEBEB;
	--bg-secondry:#232323;
	--font-header: #fff;
}

.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #151515;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}



.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--bg);
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
}

.container {
	display: grid;
	grid-template-columns: 300px 300px 480px;
    grid-template-rows: 630px;
    grid-gap: 20px;
    padding-top: 20px;
}

.box {
	background: var(--bg-secondry);
	border-radius: 15px;
}

#info {
	grid-area: i;
}

#download {
	grid-area: d;
}

#links {
	grid-area: l;
}

#files {
	height: 630px;
}

aside {
	display: grid;
	grid-template-columns: 300px;
    grid-template-rows: 235px 177px 177px;
    grid-template-areas: 
    "i f"
    "d f"
    "l f";
    grid-gap: 20px;
}

main {

}

header {
	display: inline-flex;
	margin-left: 20px;
	margin-top: 20px;

}

header h1 {
	color: var(--font-header);
	font-family: Google Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 33px;
	letter-spacing: 0.03em;
}

header img {
	margin-right: 10px;
}

p {
	font-family: Google Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 31px;
	color: var(--font-static);
}

#date {
	color: var(--font-primary);
	font-family: Google Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;
}

.info_block {
	display: flex;
	margin-left: 20px;
	margin-top: 15px;
}

.button {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    color: var(--font-static);
    font-family: 'Google Sans';
    font-size: 18px;
    display: flex;
    width: 260px;
    height: 33px;
    margin: 20px;
    align-items: center;
    justify-content: center;

}

a {
	text-decoration: none;
}

.button_s {
	    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    color: var(--font-static);
    font-family: 'Google Sans';
    font-size: 20px;
    display: flex;
    width: 260px;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin:20px;
}

.button_b {
    color: var(--font-static);
    font-family: 'Google Sans';
    font-size: 18px;
    display: flex;
    width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}

.other_list {
	display: flex;
	margin-top: 15px;
	justify-content: space-evenly;
}

#b_anim:hover {
	transform: scale(0.98);
	color: var(--font-hover);
	background: linear-gradient(106.49deg, rgba(255, 204, 142, 0.1) 21.01%, rgba(0, 0, 0, 0.1) 146.83%);
}

#b_anim {
	transition: 0.3s;
}

.inside_folder {
	opacity: 50%;
	padding-left: 5px;
	display: flex;
    align-items: center;
    flex-direction: row;
}


ul {
	list-style: none;
	padding: 20px;
}

li {
	color: var(--font-static);
	font-family: Google Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 31px;
	cursor: default;
}

li span {
	padding-right: 7px;
}

#h_s {
	font-family: Google Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 25px;
	color: var(--font-header);
	margin:0;
	margin-bottom: 5px;
}

#i_s {
	font-size: 18px;
	color: var(--font-static);
	opacity: 70%;
	font-weight: normal;
}

.changes_container {
	padding: 20px;
	display: grid;
    grid-gap: 10px;
    grid-template-areas: 
    "B CP"
    "L CP";
}

#block_s {
	background: rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	padding: 10px;
	width: fit-content;
	cursor: default;
	transition: 0.3s;
	display: flex;
	flex-direction: column;
}

#block_s:hover {
	background: linear-gradient(106.49deg, rgba(255, 204, 142, 0.1) 21.01%, rgba(0, 0, 0, 0.1) 146.83%);
	transform: scale(0.98);
}

#block_s img {
	background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 5px;
}
