/* ==UserStyle==
@name           MangaLib
@namespace      github.com/D1verlin
@version        1.0.4
@updateURL      https://d1verlin.github.io/My-Css-Styles/Products/MangaLib/mangalib.user.css
@description    MangaLib Rebuild
@author         Diverlin
@var color Primary-Default "Primary Default" #FFCC90
@var color Primary-Lighten "Primary Lighten" #FFD8AA
@var color Primary-Darken "Primary Darken" #F3C48D
@preprocessor stylus
@var select TransparentH "transparent header" ["Visible:Visible", "Invisible:Invisible"]
==/UserStyle== */

@-moz-document domain("mangalib.me") {
    :root, html[data-mode=dark] {
    --primary: Primary-Default;
    --primary-lighten: Primary-Lighten;
    --primary-darken: Primary-Darken;
if TransparentH == Invisible {
      .header {
        --background-header: transparent;
      }
    } else if TransparentH == Visible {
        .header {
        --background-header: #1c1c1e;
      }
    }
        }


html[data-mode=dark] {
    --button-primary-bg: Primary-Default;
    --button-primary-bg-hover: Primary-Darken;
    --button-primary-bg-active: Primary-Darken;
    --purple: Primary-Lighten;
    --text-link: Primary-Lighten;
    

}



.tag-item:hover {
    color: Primary-Default;
    text-decoration: none;
}

.header-right-menu__avatar {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 56px;
    cursor: pointer;
}



.header__logo {
    opacity: 0;
    width:56px;
}

.header__logo img {
    width:56px;
}
.header__logo:hover {
    opacity: 0;
}
.xmas-three {
    display:none;
}
.header__item {
    min-width:0;
}
.header__other-sites {
    right: -20px;
}

  .header__left {
background: url(https://d1verlin.github.io/My-Css-Styles/Products/MangaLib/img/logo.png) no-repeat; /* Your image for logo */
    width:56px;
}}
